main.frontpage {
  @include flexbox(column);

  .container {
    @include flexbox(row);
    @include container($box-container);
    padding-left: $box-gutter;
    padding-right: $box-gutter;
    align-items: center;

    &.fullscreen {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  @import './row';
  @import './columns';
}
