.masthead {
  position: fixed;
  width: 100%;
  background: $header-bg;
  color: $header-fg;
  transition: all 300ms ease-in-out !important;
  opacity: 1;
  z-index: 8;
  box-shadow: 1px 0 2px rgba(#000, 0.2);

  &.no-background {
  }

  .container {
    @include flexbox(row);
    align-items: center;
    height: $box-header;
  }

  @import './logo';
  @import './mainMenu';
  @import './subMenu';
  @import './burger';
}
