.masthead {
  position: fixed;
  width: 100%;
  background: rgba($header-bg, 0.2);
  z-index: 8;

  .container {
    @include flexbox(row);
    align-items: center;
    height: $box-header;
  }

  @import './logo';
  @import './mainMenu';
  @import './subMenu';
  @import './burger';
}
