input#main-menu-toggle {
  display: none !important;
}

// Menu button used for small devices
.main-menu-icon {
  @include flexbox(column);
  justify-content: center;
  display: none;
  margin-left: auto;
  height: 24px;
  width: 24px;
  position: relative;
  animation: slide-left 200ms 500ms ease-in backwards;
  z-index: 9;

  &:hover {
    cursor: pointer;
  }

  .vertbar {
    transition: transform 350ms cubic-bezier(0.27, 1, 0.32, 1);
    width: 32px;
    height: 2px;
    background: $header-fg;
    border-radius: $radius;
    margin: auto 0;
  }

  // Close button
  &.close {
    .vertbar {
      position: absolute;
    }
  }

  @include breakpoint(small) {
    display: flex;
  }
}

.main-menu-icon.close .vertbar.top {
  transform: translate3d(0 ,0 ,0) rotate(45deg);
}
.main-menu-icon.close .vertbar.mid {
  transform: translate3d(0, 0, 0) scale3d(0, 0, 0);
}
.main-menu-icon.close .vertbar.bot {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

// Show responsive main menu on menu button click
input#main-menu-toggle:checked ~ nav.main-menu {
  display: block !important;
  transform: scale3d(1, 1, 1) !important;
}

// Toggle menu item animation on menu button click
input#main-menu-toggle:checked ~ nav.main-menu li {
  transform: translate3d(0, 0, 0) !important;
  opacity: 1 !important;
}
