// Default image logo
.logo {
  @include flexbox(row);
  position: relative;
  z-index: 9;

  &:hover {
    .cls-1 {
      fill: $brand;
    }
  }

  svg {
    height: $box-header - 12px;

    .cls-1 {
      fill: $header-fg;
    }
  }

  img {
    max-height: $box-header - 4px;
    max-width: 250px;
    width: auto;

    @include breakpoint(small) {
      max-width: 225px;
    }
  }

  // Fallback text logo
  a.logo-a {
    font-size: $text-xlarge;
    font-weight: 600;
    font-style: italic;
    transition: color 150ms ease;

    [class*=ion] {
      position: relative;
      font-size: $text-xlarge * 1.5;
      text-decoration: none;
      font-weight: 600;
      vertical-align: middle;
    }

    &:hover {
      color: $brand;
    }
  }
}
