.logo {
  @include flexbox(row);
  position: relative;
  z-index: 9;

  &:hover {
    .cls-1 {
      fill: $brand;
    }
  }

  svg {
    height: $box-header - 12px;

    .cls-1 {
      fill: $header-fg;
    }
  }

  img {
    max-height: $box-header - 4px;
    max-width: 250px;
    width: auto;

    @include breakpoint(small) {
      max-width: 225px;
    }
  }
}
