.main-menu {
  margin-left: auto;
  user-select: none;

  @include breakpoint(small) {
    transition: transform 200ms ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: scale3d(1, 0, 1);
    transform-origin: 50% 0;
    z-index: 8;
  }

  ul.menu {
    @include flexbox(row);

    @include breakpoint(small) {
      @include flexbox(column);
      width: 100%;
      height: 100vh;
      padding: 0;
      padding-top: $box-header;
      padding-bottom: 75px;
      text-align: center;
      background: $header-bg;
    }

    li {
      display: inline-block;
      padding: 0;

      @include breakpoint(small) {
        @include flexbox(column);
        @include transition-delay(0ms, 25, 25);
        flex: 1;
      }
    }
  }

  // Menu items
  a {
    margin-left: $box-gutter / 2;
    margin-right: $box-gutter / 2;
    padding: 8px 0;
    color: $header-fg;
    font-size: 14px;

    &:hover {
      color: #000;
    }

    &:not(.current) {
      border: 0;
    }

    @include breakpoint(small) {
      @include flexbox(row);
      flex: 1;
      align-items: center;
      justify-content: center;
      font-size: $text-xlarge * 1.25;
      margin: 0;
      border: 0 !important;
      width: 100%;
    }
  }
}
