// Sub menu
.main-menu {
  li.menu-item-has-children {
    position: relative;

    // Toggle
    &:hover {
      &::before {
        display: block;
      }

      ul.sub-menu {
        opacity: 1;
        pointer-events: all;
        transform: translate3d(-50%, 0, 0);
      }
    }

    ul.sub-menu {
      @include flexbox(column);
      position: absolute;
      left: 50%;
      top: 100%;
      opacity: 0;
      transform: translate3d(-50%, 0, 0);
      transition: opacity 150ms ease-out;
      background: rgba($header-bg, 1);
      border: 1px solid rgba($accent, 0.1);
      border-radius: 3px;
      padding: $box-gutter / 2;
      white-space: nowrap;
      pointer-events: none;

      @include breakpoint(small) {
        display: none;
      }

      a {
        transition: none;
        font-size: 13px;
        display: block;
        padding: 4px;

        &:hover {
          color: #000;
        }
      }
    }
  }
}
