.highlight {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: $radius;
  border: 1px solid $default;
  color: $default;
  text-decoration: none;

  &.active {
    &:hover {
      opacity: 0.75;
    }
  }
}

.highlight-accent {
  border-color: $accent;
  color: $accent;
}

.highlight-primary {
  border-color: $primary;
  color: $primary;
}

.highlight-success {
  border-color: $success;
  color: $success;
}

.highlight-warning {
  border-color: $warning;
  color: $warning;
}

.highlight-danger {
  border-color: $danger;
  color: $danger;
}

a.highlight {
  @extend .active;
}
