@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (max-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

@mixin gradient($color: $default) {
  background: linear-gradient($color, darken($color, 10%));

  &:hover {
    background: linear-gradient(darken($color, 5%), darken($color, 15%));
  }
}

// Grid layout
@mixin column($frac: 1/1) {
  width: percentage($frac);
  flex-grow: 0;
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }

  :-moz-placeholder {
    @content;
  }

  ::-moz-placeholder {
    @content;
  }

  :-ms-input-placeholder {
    @content;
  }
}

@mixin flexbox($dir) {
  display: flex;
  flex-direction: $dir;
}

@mixin transition-delay($init, $x, $amount, $type: "transition-delay") {
  @for $i from 1 through $amount {
    &:nth-of-type(#{$i}) {
      transition-delay: $init + ($i * $x);
    }
  }
}
