@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Layout dimensions
$box-header: 50px;
$box-container: 1024px;
$box-sidebar: 256px;
$box-gutter: 22px;
$radius: 3px;
$border: 1px solid #eee;

// Main colors
$background: #fcfcfc !default;
$foreground: #424242 !default;
$brand: #679ce9 !default;

// Layout colors
$header-bg: #fcfcfc;
$header-fg: #424242;
$footer-bg: #fcfcfc;
$footer-bottom-bg: #fcfcfc;
$footer-fg: #424242;

// States
$default: #fcfcfc !default;
$accent: #424242 !default;
$primary: #679ce9 !default;
$success: #71e967 !default;
$warning: #edd13b !default;
$danger: #e96767 !default;

// Type
$sans: 'Roboto', sans-serif;
$serif: 'Georgia', serif;
$line-height: 1.5;
$text-base: 15px;
$text-small: 12px;
$text-large: 18px;
$text-xlarge: 22px;

// Media screen sizes
$breakpoints: (
  'small': 768px,
  'medium': 896px,
  'large': 1024px,
);
