.btn-accent {
  color: #fff;
  background: $accent;

  &:hover {
  }

  &.btn-outline {
    color: $accent;
    background: transparent;
    background: none;
    border-color: $accent;

    &:hover {
      background: $accent;
      color: #fff;
    }
  }
}

.btn-primary {
  color: #fff;
  background: $primary;

  &:hover {
  }

  &.btn-outline {
    color: $primary;
    background: transparent;
    background: none;
    border-color: $primary;

    &:hover {
      background: $primary;
      color: #fff;
    }
  }
}

.btn-success {
  color: #fff;
  background: $success;

  &:hover {
  }

  &.btn-outline {
    color: $success;
    background: transparent;
    background: none;
    border-color: $success;

    &:hover {
      background: $success;
      color: #fff;
    }
  }
}

.btn-warning {
  color: #fff;
  background: $warning;

  &:hover {
  }

  &.btn-outline {
    color: $warning;
    background: transparent;
    background: none;
    border-color: $warning;

    &:hover {
      background: $warning;
      color: #fff;
    }
  }
}

.btn-danger {
  color: #fff;
  background: $danger;

  &:hover {
  }

  &.btn-outline {
    color: $danger;
    background: transparent;
    background: none;
    border-color: $danger;

    &:hover {
      background: $danger;
      color: #fff;
    }
  }
}

.btn-brand {
  color: $foreground;
  background: $brand;

  &:hover {
  }

  &.btn-outline {
    color: $brand;
    background: transparent;
    background: none;
    border-color: $brand;

    &:hover {
      background: $brand;
      color: #fff;
    }
  }
}
