.btn {
  padding: 6px 12px;
}

.btn-small {
  font-size: $text-small;
  padding: 1px 6px;
}

.btn-large {
  font-size: $text-large;
  padding: 12px 24px;
}

.btn-xlarge {
  font-size: $text-xlarge;
  padding: 16px 32px;
}
