.btn {
  padding: 6px 12px;
  font-size: 13px;
}

.btn-small {
  font-size: 12px;
  padding: 1px 6px;
}

.btn-large {
  font-size: 14px;
  padding: 12px 24px;
}

.btn-xlarge {
  font-size: 16px;
  padding: 16px 32px;
}
