.mastfoot {
  @include flexbox(column);
  position: relative;
  width: 100%;
  color: $footer-fg;
  background: $footer-bg;

  @include breakpoint(small) {
    font-size: $text-large;
    padding: 0;
  }

  .container {
    @include flexbox(row);

    @include breakpoint(small) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @import './bottom';
  @import './widgets';
  @import './columns';
}
