.mastfoot-bottom {
  width: 100%;
  padding: 15px 0;
  background: $footer-bottom-bg;
  order: 2;
  color: $footer-fg;
  border-top: $border;
  font-size: 13px;

  .container {
    align-items: center;

    @include breakpoint(large) {
      flex-direction: column !important;
    }
  }

  a {
    color: $footer-fg;
  }

  .legal {
    @include flexbox(column);

    @include breakpoint(large) {
      width: 100%;
    }

    @include breakpoint(small) {
      @include flexbox(column);
      font-size: $text-small;
      align-items: center;
    }
  }

  .social {
    margin-left: auto;

    .widget {
      > div {
        @include flexbox(row);

        *:not(:last-of-type) {
          margin-left: 10px;
        }
      }
    }

    @include breakpoint(small) {
      margin-left: 0;
    }

    [class*=ion] {
      font-size: 18px;
    }
  }
}
