.modal-close {
  position: absolute;
  top: $box-gutter / 2;
  right: $box-gutter / 2;
  cursor: pointer;
  color: #5f5f5f;
  font-weight: 600;
  transition: color 150ms ease;
  z-index: 3;
  user-select: none;

  &:hover {
    color: #1f1f1f;
  }
}
