html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
}

// Main site wrap
body {
  @include flexbox(column);
  animation: fade-in 200ms 200ms ease-in backwards 1;
  font-family: $sans;
  font-size: $text-base;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  background: $background;

  &.single section.post,
  &.error404 section.post {
    border: 0;
  }
}
