.no-transition {
  animation: none !important;
  transition: none !important;
}

.no-scroll {
  overflow: hidden;
}

.alignleft {
  text-align: left !important;
}

.alignright {
  text-align: right !important;
}

.aligncenter {
  text-align: center !important;
}
