.no-transition {
  animation: none !important;
  transition: none !important;
}

.no-scroll {
  overflow: hidden;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}
