main.not-found {
  text-align: center;

  .container {
    @include flexbox(column);
    justify-content: center;
  }

  h1 {
    font-size: 72px;
    font-style: italic;
    font-weight: 400;
  }

  h2 {
    font-weight: 600;
  }

  nav {
    @include flexbox(row);
    justify-content: center;
    margin: 20px 0;

    a {
      color: $accent !important;
      margin: 0 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
