.sidebar {
  @include flexbox(column);
  width: $box-sidebar;
  max-width: $box-sidebar;
  margin-right: auto;
  margin-top: $box-gutter;
  padding-left: $box-gutter;
  padding-right: $box-gutter;
  order: 2;
  color: $foreground;
  z-index: 2;

  @include breakpoint(small) {
    display: none;
  }

  @import './widgets';
  @import './columns';
}
