.post {

  // Post header
  .posthead {
    @include flexbox(column);
    align-items: flex-start;

    .title {
      margin: 0;

      &:hover {
        text-decoration: underline;
      }
    }

    .post-meta {
      @include flexbox(row);
      align-items: center;
      color: lighten($foreground, 40%);

      @include breakpoint(small) {
        margin-right: auto;
      }

      .date {
        color: lighten($foreground, 40%);
      }

      .categories {
        a {
          color: lighten($foreground, 40%);

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .divider {
        font-size: 12px;
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }

  // Post content
  .content {
    padding: 10px 0;
    line-height: 150%;

    p {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    a {
      color: $primary;

      &:hover {
        text-decoration: underline;
      }
    }

    img {
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }

  // Post footer
  .postfoot {
    @include flexbox(row);
    align-items: flex-end;
    padding-top: $box-gutter;
    padding-bottom: $box-gutter;
    color: $foreground;
    font-size: 13px;
  }
}
