main.blog {
  .container {
    max-width: $box-container - $box-sidebar;
    order: 1;
    margin-right: 0;
    padding-right: 0;

    @include breakpoint(large) {
      padding-right: $box-gutter;
      margin-right: auto;
      z-index: 1;
    }
  }

  @import 'pagination';
  @import 'posts';
}
