main.blog {
  .container {
    @include container($box-container - $box-sidebar);
    order: 1;
    margin-right: 0;
    padding-left: $box-gutter;

    @include breakpoint(large) {
      padding-right: $box-gutter;
      margin-right: auto;
      z-index: 1;
    }
  }

  @import 'pagination';
  @import 'posts';
}
