.pagination {
  @include flexbox(row);
  justify-content: center;
  align-items: center;
  margin-bottom: $box-gutter;

  .next,
  .prev {
    background-image: url('../images/chevron.png');
    background-size: 11px;
    background-position: 50% 50%;
  }

  .next {
    transform: rotate(-90deg);
  }

  .prev {
    transform: rotate(90deg);
  }

  .page-numbers {
    @include flexbox(row);
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;

    &.current {
      color: $primary;
    }
  }

  .btn {
    &:hover {
      transform: none;
    }
  }
}
